<div class="container">
        <div class="card text-white bg-info mb-3 mt-3" >
                <div class="card-header">Contact</div>
                <div class="card-body">
                        <table class="table table-striped">
                                <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Email</th>
                                </tr>
                                <tr *ngFor="let c of pageContacts?.content" >
<td>{{c.id}}</td>
<td>{{c.nom}}</td>
<td>{{c.email}}</td>
                                </tr>
                        </table>
                </div>
        </div>
</div>
