<div class="container spacer">
    <div class="form-group mt-2">
        <label for="">Mot clé</label>
        <input class="form-control" type="text" [(ngModel)]="motCle">
         <button class="mt-2 btn btn-primary"   (click)="chercher()">Chercher</button>
    </div>
    <div class="card bg-info text-white">
        <div class="card-header">Contact</div>
        <div class="card-body">
            <p *ngFor="let c of pageContacts?.content">
                 Nom : {{ c.nom }}
                 Email : {{ c.email }}
            </p>
        </div>
    </div>
</div>